# remove R project files and archives
docs/archive/
scripts/archive/
.data.RData
.RData
.RDataTmp
.Rhistory
.Rproj.user/
fl-leg-etl.Rproj

# remove files over 100 MB
# data-app/p_legislator_votes.csv
data-raw/
