# remove secure passwords
config.yml

# remove archives
archive/
config.yml
data-app/archive
docs/archive/
scripts/archive/

# remove R project files
fl-leg-etl.Rproj
.data.RData
.RData
.RDataTmp
.Rhistory
.Rproj.user/

# remove files over 100 MB
# data-app/p_legislator_votes.csv
data-app/app02_leg_activity.csv
data-app/qry_leg_votes.csv
data-raw/legiscan/
